// color
$white: #fefefe;
$base: #f5f5f5;
$gray: #ededed;
$selected: #d0d0d4;
$alice-blue: #f0f8ff;
$filter-gray: #11111177;

// border color
$border-base: #bababa;
$border-gray: #939393;
$border-calendar: #d5d5d5;

// text color
// $text-main: #2c3e50;
$text-main: #50556b;
$text-sub: #a9a9a9;
$text-sub-light: #d3d3d3;
$text-white: #ffffff;
$text-white-sub: #f3f3f3;
$text-red: #f53333;
$text-blue-light: skyblue;
$text-icon: #a6a6a6;
$text-sat: #8c88fc;
$text-sun: #cc3333;

// font-size
$font-x-small: 1rem;
$font-small: 1.2rem;
$font-medium: 1.4rem; // メイン
$font-large: 1.6rem;
$font-x-large: 1.8rem;

// transition
$transition-all: all 0.25s ease-in-out;

// Media Query
$tab-and-pc-width: 429px;
$tab-and-pc-height: 1px;
